<!DOCTYPE html>

<div class="container">
  <h1>
    Home Page
    <button class="btn btn-primary btn-lg pull-right">
      New
      <a href="/#/new"></a>
    </button>
  </h1>

  <table class="table">
    <th>MembershipNo</th>
    <th>Chinese Name</th>
    <th>Email</th>
    <th>Actions</th>
    <tbody ng-repeat="detail in $ctrl.details track by $index">
      <tr>
        <td>{{detail.membershipNo}}</td>
        <td><a href="/#/{{detail._id}}">{{detail.chiName}}</a></td>
        <td>{{detail.email}}</td>
        <td>
          <a ng-href="/#/edit/{{detail._id}}">
            <button class="btn btn-primary">Edit</button>
          </a>

          <button class="btn btn-danger" ng-click="$ctrl.delete()">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
